
@model OfferDetailsViewModel
@{
    if (Model == null)
    {
        ViewData["Title"] = $"New Ad";
    }
    else
    {
        ViewData["Title"] = $"Edit Ad";
    }
}

<div class="container-xl px-4 pt-4">
    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <form method="post">
        <div class="card">
            <div class="mb-4">
                <div class="card-header">Position info</div>
                <div class="card-body">
                    <div class="gx-3 mb-3">
                        <label asp-for="@Model.JobTitle" class="form-label small mb-1">Job title <span class="text-danger">*</span></label>
                        <input asp-for="@Model.JobTitle" class="form-control" type="text" placeholder="Enter job title">
                    </div>

                    <div class="d-flex flex-row gx-3 mb-3">
                        <div class="flex-grow-1">
                            <label asp-for="@Model.City" class="form-label small mb-1">City <span class="text-danger">*</span></label>
                            <input asp-for="@Model.City" class="form-control" type="text" placeholder="Enter city">
                        </div>
                        <div class="flex-grow-1 mx-5">
                            <label asp-for="@Model.Country" class="form-label small mb-1">Country <span class="text-danger">*</span></label>
                            <input asp-for="@Model.Country" class="form-control" type="text" placeholder="Enter country">
                        </div>
                        <div class="flex-grow-1">
                            <label asp-for="@Model.Address" class="form-label small mb-1">Address</label>
                            <input asp-for="@Model.Address" class="form-control" type="text" placeholder="Enter address">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header">Employment details</div>
                <div class="card-body">
                    <div class="gx-3 mb-3">
                        <label asp-for="@Model.WorkLocationType" class="form-label small mb-1">Work location <span class="text-danger">*</span></label>
                        <select asp-for="@Model.WorkLocationType" class="form-select" aria-label="Employment type">
                            <option value="1" selected>On Site</option>
                            <option value="2">Hybrid</option>
                            <option value="3">Fully Remote</option>
                        </select>
                    </div>
                    @await Html.PartialAsync("./JobOffers/_MultiselectTripleField", Model)
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header">Job description</div>
                <div class="card-body">
                    <div class="gx-3 mb-3">
                        <label asp-for="@Model.MainTechnologyType" class="form-label small mb-1">Main Technology <span class="text-danger">*</span></label>
                        @await Html.PartialAsync("./JobOffers/_MainTechnologiesWidgets", Model)
                    </div>
                    <div class="gx-3 mb-3">
                        <label asp-for="@Model.TechKeywords" class="form-label small mb-1">Tech stack</label>
                        @await Html.PartialAsync("./JobOffers/_TechKeywordsWidgets", Model)
                    </div>
                    <div class="gx-3 mb-3">
                        <label asp-for="@Model.JobDescription" class="form-label small mb-1">Description <span class="text-danger">*</span></label>
                        <textarea asp-for="@Model.JobDescription" class="form-control" type="text" placeholder="Enter description">
                            @Model.JobDescription
                        </textarea>
                    </div>
                </div>
            </div>

            <div>
                <div class="card-header">Applications</div>
                <div class="card-body">
                    <div class="gx-3 mb-3">
                        <label asp-for="@Model.ContactType" class="form-label small mb-1">Contact form <span class="text-danger">*</span></label>
                        <select asp-for="@Model.ContactType" class="form-select" aria-label="Contact type">
                            <option value="1" selected>Email</option>
                            <option value="2">External form</option>
                            <option value="3">GameDev.Hunt</option>
                        </select>
                    </div>
                    <div class="gx-3">
                        <label asp-for="@Model.ContactAddress" class="form-label small mb-1">Contact address <span class="text-danger">*</span></label>
                        <input asp-for="@Model.ContactAddress" class="form-control" type="text" placeholder="Enter email/url">
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div class="card-body">
                <button type="submit" class="btn btn-primary btn-block">Go Next</button>
            </div>
        </div>
    </form>
</div>