@model CompanyProfileViewModel
@{
    ViewData["Title"] = "Company";
}

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <!-- Operation result status -->
    @await Html.PartialAsync("./Notifications/_OperationResult")

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-12">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Company Details</div>
                    <div class="card-body">

                        <!--User avatar-->
                        <partial name="./Profile/_UserProfileImage" for="@Model.ProfileImage" />

                        <div class="row gx-3 mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.CompanyName" class="small mb-1">Company name</label>
                                <input asp-for="@Model.CompanyName" class="form-control" type="text" placeholder="Enter your company name" value=@Model.CompanyName>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="@Model.OfficeCountry" class="small mb-1">Country</label>
                                <input asp-for="@Model.OfficeCountry" class="form-control" type="text" placeholder="Enter your company country" value=@Model.OfficeCountry>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="@Model.OfficeCity" class="small mb-1">City</label>
                                <input asp-for="@Model.OfficeCity" class="form-control" type="text" placeholder="Enter your company city" value=@Model.OfficeCity>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.CompanyWebsiteUrl" class="small mb-1">Company website</label>
                                <div class="d-flex flex-row align-items-center">
                                    @if (string.IsNullOrEmpty(Model.CompanyWebsiteUrl))
                                    {
                                        <i class="bi bi-building mx-2" style="font-size: 1.75rem;"></i>
                                    }
                                    else
                                    {
                                        <a target="_blank" rel="noopener noreferrer" href=@Model.CompanyWebsiteUrl>
                                            <i class="bi bi-building mx-2 text-info" style="font-size: 1.75rem;"></i>
                                        </a>
                                    }
                                    <input asp-for="@Model.CompanyWebsiteUrl" class="form-control" type="text" placeholder="Enter your company website link" value=@Model.CompanyWebsiteUrl>
                                </div>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>