@model CompanyProfileViewModel
@{
    ViewData["Title"] = "Company";

    var user = ViewData.Model;

    string? userImageUrl = user.ProfileImageUrl;
    if (string.IsNullOrEmpty(userImageUrl))
    {
        userImageUrl = "https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg";
    }
}

<div class="container-xl px-4 mt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_CompanyProfileTabs", Model)

    <div class="alert alert-dismissible alert-warning">
        <i class="bi bi-exclamation-triangle" style="font-size: 1.25rem;"></i>
        <small>Complete your profile to share more information for your company</small>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-12">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Company Details</div>
                    <div class="card-body">

                        @await Html.PartialAsync("./Profile/_UserProfileImage", Model)

                        <div class="row gx-3 mb-3">
                            <div class="col-md-12">
                                <label asp-for="@user.CompanyName" class="small mb-1" for="inputCompanyName">Company name</label>
                                <input asp-for="@user.CompanyName" class="form-control" id="inputCompanyName" type="text" placeholder="Enter your company name" value=@user.CompanyName>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="@user.Country" class="small mb-1" for="inputLocation">Country</label>
                                <input asp-for="@user.Country" class="form-control" id="inputLocation" type="text" placeholder="Enter your company country" value=@user.Country>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="@user.City" class="small mb-1" for="inputLocation">City</label>
                                <input asp-for="@user.City" class="form-control" id="inputLocation" type="text" placeholder="Enter your company city" value=@user.City>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-md-12">
                                <label asp-for="@user.CompanyWebsiteUrl" class="small mb-1" for="inputCompanyName">Company website</label>
                                <div class="d-flex flex-row align-items-center">
                                    @if (string.IsNullOrEmpty(user.CompanyWebsiteUrl))
                                    {
                                        <i class="bi bi-building mx-2" style="font-size: 1.75rem;"></i>
                                    }
                                    else
                                    {
                                        <a target="_blank" rel="noopener noreferrer" href=@user.CompanyWebsiteUrl>
                                            <i class="bi bi-building mx-2 text-info" style="font-size: 1.75rem;"></i>
                                        </a>
                                    }
                                    <input asp-for="@user.CompanyWebsiteUrl" class="form-control" id="inputCompanyWebsiteUrl" type="text" placeholder="Enter your company website link" value=@user.CompanyWebsiteUrl>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    <!-- Save changes button-->
                </div>
            </div>
        </div>
    </form>
</div>