@model EmployeeProfileViewModel
@{
    ViewData["Title"] = "Employee";

    var user = ViewData.Model.Display;

    string? userImageUrl = user.ProfileImageUrl;
    if (string.IsNullOrEmpty(userImageUrl))
    {
        userImageUrl = "https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg";
    }

    string? fileUrl = user.AttachedResumeUrl;
    bool isFileUploaded = string.IsNullOrEmpty(fileUrl) == false;
}

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active ms-0" : "")"
                   asp-controller="EmployeeProfile" asp-action="Profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Security" ? "active ms-0" : "")"
                   asp-controller="EmployeeProfile" asp-action="Security">Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Preferences" ? "active ms-0" : "")" 
                   asp-controller="EmployeeProfile" asp-action="Preferences">Preferences</a>
            </li>
        </ul>
    </nav>
    <hr class="mt-0 mb-4">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-6">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">User Details</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" width="128" height="128" src=@userImageUrl alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-2">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <input asp-for="Update.ProfileImage" name="Update.ProfileImage" class="form-control" id="profileImage-input" type="file" accept="image/png, image/jpeg" style="display:none" />
                        <button class="btn btn-primary" id="profileImage-button" type="button">Upload new image</button>
                        <input type="submit" value="Upload" style="display:none" />
                    </div>
                    <div class="mx-2">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="Update.Name" class="small mb-1" for="inputFirstName">Name</label>
                                <input asp-for="Update.Name" class="form-control" id="inputFirstName" type="text" placeholder="Enter your name" value=@user.Name>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Update.Surname" class="small mb-1" for="inputLastName">Surname</label>
                                <input asp-for="Update.Surname" class="form-control" id="inputLastName" type="text" placeholder="Enter your surname" value=@user.Surname>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="Update.Country" class="small mb-1" for="inputLocation">Country</label>
                                <input asp-for="Update.Country" class="form-control" id="inputLocation" type="text" placeholder="Enter your country" value=@user.Country>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Update.City" class="small mb-1" for="inputLocation">City</label>
                                <input asp-for="Update.City" class="form-control" id="inputLocation" type="text" placeholder="Enter your city" value=@user.City>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Update.Description" class="small mb-1" for="Description">Introduce yourself</label>
                            <textarea asp-for="Update.Description" class="form-control" id="description" placeholder="Introduce yourself">
                                @user.Description
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <!-- Account details card-->
                <div class="card mb-4" id="uploadResumeCard">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <!-- Form Row-->
                        <div class="mb-3">
                            <label asp-for="Update.AttachedResume" class="small mb-1" for="attachedResume-input">Upload CV</label>
                            <input asp-for="Update.AttachedResume" name="Update.AttachedResume" id="attachedResume-input" type="file" accept="application/pdf" style="display:none">

                            <div class="card mb-4 mb-xl-0">
                                <div class="card-body d-flex flex-column align-items-center">
                                    @if (isFileUploaded)
                                    {
                                        <i class="bi bi-file-earmark-check-fill" style="font-size: 5rem;"></i>
                                        <b>@user.AttachedResumeFileName</b>
                                        <div>@user.AttachedResumeFileSize</div>

                                        <div>
                                            <input type="hidden" name="id" value="Display.AttachedResumeUrl" />
                                            <button type="button" class="small font-italic text-muted mt-auto border-0 bg-transparent"
                                                onclick="location.href='@Url.Action("DeleteResume", "EmployeeProfile")'">
                                                <div class="text-primary" style="font-size: 2rem;">X</div>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <i class="bi bi-file-earmark-arrow-up" style="font-size: 5rem;"></i>
                                        <div class="d-flex justify-content-between small font-italic text-muted mb-2">
                                            <label asp-for="Update.AttachedResume" class="custom-file-label" for="attachedResume-input">
                                                Drag and Drop or <button class="btn btn-primary btn-sm" type="button" id="attachedResume-button">Browse</button>
                                            </label>
                                        </div>
                                        <div class="small font-italic text-muted mb-2">PDF no larger than 5 MB</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Update.YearsOfExperience" class="small mb-1" for="Update.YearsOfExperience">Years of experience</label>
                            <div class="btn-group d-flex" data-toggle="buttons">
                                <input type="radio" value="0-1" class="btn-check" name="Update.YearsOfExperience" id="option1" autocomplete="off" checked=@(Model.Display.YearsOfExperience == "0-1" ? "checked" : null) />
                                <label class="btn btn-secondary p-3" for="option1" style="font-size: 1.2rem;">0-1</label>

                                <input type="radio" value="1-2" class="btn-check" name="Update.YearsOfExperience" id="option2" autocomplete="off" checked=@(Model.Display.YearsOfExperience == "1-2" ? "checked" : null) />
                                <label class="btn btn-secondary p-3" for="option2" style="font-size: 1.2rem;">1-2</label>

                                <input type="radio" value="2-4" class="btn-check" name="Update.YearsOfExperience" id="option3" autocomplete="off" checked=@(Model.Display.YearsOfExperience == "2-4" ? "checked" : null) />
                                <label class="btn btn-secondary p-3" for="option3" style="font-size: 1.2rem;">2-4</label>

                                <input type="radio" value="4-8" class="btn-check" name="Update.YearsOfExperience" id="option4" autocomplete="off" checked=@(Model.Display.YearsOfExperience == "4-8" ? "checked" : null) />
                                <label class="btn btn-secondary p-3" for="option4" style="font-size: 1.2rem;">4-8</label>

                                <input type="radio" value="8+" class="btn-check" name="Update.YearsOfExperience" id="option5" autocomplete="off" checked=@(Model.Display.YearsOfExperience == "8+" ? "checked" : null) />
                                <label class="btn btn-secondary p-3" for="option5" style="font-size: 1.2rem;">8+</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Update.LinkedInUrl" class="small mb-1" for="Update.LinkedInUrl">Social links</label>
                            <div class="d-flex flex-row align-items-center">
                                <i class="bi bi-linkedin mx-2" style="font-size: 1.75rem;"></i>
                                <input asp-for="Update.LinkedInUrl" class="form-control" id="inputFirstName" type="text" placeholder="LinkedIn" value=@user.LinkedInUrl>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    // TODO1: Move to shared components
    // Get the file input element and the button element
    var input = document.getElementById("profileImage-input");
    var button = document.getElementById("profileImage-button");

    // Add a click event listener to the button
    button.addEventListener("click", function () {
        // Simulate a click on the file input element
        input.click();
    });

    // Add a change event listener to the file input element
    input.addEventListener("change", function () {
        // Submit the form when a file is selected
        this.form.submit();
    });

    // TODO2: Move to shared components
    var input2 = document.getElementById("attachedResume-input");
    var button2 = document.getElementById("attachedResume-button");

    if (input2 != null && button2 != null) {
        button2.addEventListener("click", function () {
        input2.click();
        });

        input2.addEventListener("change", function () {
            this.form.submit();
        });

        var card = document.querySelector("#uploadResumeCard");

        card.addEventListener("dragover", function (event) {
            event.preventDefault();
            card.classList.add("dragover");
        });

        card.addEventListener("dragleave", function (event) {
            event.preventDefault();
            card.classList.remove("dragover");
        });

        card.addEventListener("drop", function (event) {
            event.preventDefault();
            card.classList.remove("dragover");
            input2.files = event.dataTransfer.files;
            input2.form.submit();
        });
    }

    // TODO3: Move to shared components
    var radioButtons = document.querySelectorAll('input[type="radio"][name="Update.YearsOfExperience"]');
    var labels = document.querySelectorAll('.btn-group label');

    for (var i = 0; i < radioButtons.length; i++) {
        radioButtons[i].addEventListener('change', function () {
            for (var j = 0; j < labels.length; j++) {
                labels[j].classList.remove('btn-primary');
                labels[j].classList.add('btn-secondary');
            }
            var label = this.nextElementSibling;
            label.classList.remove('btn-secondary');
            label.classList.add('btn-primary');
        });
        if (radioButtons[i].checked)
        {
            var label = labels[i];
            label.classList.remove('btn-secondary');
            label.classList.add('btn-primary');
        }
    }
</script>