@using JobBoardPlatform.PL.Controllers.Profile;
@model EmployeeProfileViewModel
@{
    ViewData["Title"] = "Profile";

    var user = Model;

    string? userImageUrl = user.ProfileImage.ImageUrl;
    if (string.IsNullOrEmpty(userImageUrl))
    {
        userImageUrl = "https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg";
    }

    string? fileUrl = user.AttachedResume?.ResumeUrl;
    bool isFileUploaded = string.IsNullOrEmpty(fileUrl) == false;
}

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <div class="alert alert-dismissible alert-warning">
        <i class="bi bi-exclamation-triangle" style="font-size: 1.25rem;"></i>
        <small>Complete your profile & apply with just one click!</small>
    </div>

    <!-- Operation result status -->
    @await Html.PartialAsync("./Notifications/_OperationResult")

    <form method="post" asp-action="@nameof(EmployeeProfileController.Update)" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-6">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">User Details</div>
                    <div class="card-body">

                        <!--User avatar-->
                        <partial name="./Profile/_UserProfileImage" for="@Model.ProfileImage" />

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="Name" class="small mb-1">Name</label>
                                <input asp-for="Name" class="form-control" type="text" placeholder="Enter your name" value=@user.Name>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Surname" class="small mb-1">Surname</label>
                                <input asp-for="Surname" class="form-control" type="text" placeholder="Enter your surname" value=@user.Surname>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label asp-for="Country" class="small mb-1">Country</label>
                                <input asp-for="Country" class="form-control" type="text" placeholder="Enter your country" value=@user.Country>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="City" class="small mb-1">City</label>
                                <input asp-for="City" class="form-control" type="text" placeholder="Enter your city" value=@user.City>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-md-12">
                                <label asp-for="Description" class="small mb-1">Introduce yourself</label>
                                <textarea asp-for="Description" class="form-control" placeholder="Introduce yourself">@user.Description</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        @{
                            ViewData["IsPostFormOnChange"] = true;
                        }
                        <partial name="./Fields/_UploadCvField" for="@Model.AttachedResume" />

                        <div class="mb-3">
                            <label asp-for="YearsOfExperience" class="small mb-1">Years of experience</label>
                            <div class="btn-group d-flex" data-toggle="buttons">
                                <input id="option1" name="YearsOfExperience" type="radio" value="0-1" class="btn-check" autocomplete="off" @(user.YearsOfExperience == "0-1" ? "checked" : string.Empty) />
                                <label for="option1" class="btn btn-secondary p-3" style="font-size: 1.2rem;">0-1</label>

                                <input id="option2" name="YearsOfExperience" type="radio" value="1-2" class="btn-check" autocomplete="off" @(user.YearsOfExperience == "1-2" ? "checked" : string.Empty) />
                                <label for="option2" class="btn btn-secondary p-3" style="font-size: 1.2rem;">1-2</label>

                                <input id="option3" name="YearsOfExperience" type="radio" value="2-4" class="btn-check" autocomplete="off" @(user.YearsOfExperience == "2-4" ? "checked" : string.Empty) />
                                <label for="option3" class="btn btn-secondary p-3" style="font-size: 1.2rem;">2-4</label>

                                <input id="option4" name="YearsOfExperience" type="radio" value="4-8" class="btn-check" autocomplete="off" @(user.YearsOfExperience == "4-8" ? "checked" : string.Empty) />
                                <label for="option4" class="btn btn-secondary p-3" style="font-size: 1.2rem;">4-8</label>

                                <input id="option5" name="YearsOfExperience" type="radio" value="8+" class="btn-check" autocomplete="off" @(user.YearsOfExperience == "8+" ? "checked" : string.Empty) />
                                <label for="option5" class="btn btn-secondary p-3" style="font-size: 1.2rem;">8+</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="LinkedInUrl" class="small mb-1">Social links</label>
                            <div class="d-flex flex-row align-items-center">
                                @if (string.IsNullOrEmpty(@user.LinkedInUrl))
                                {
                                    <i class="bi bi-linkedin mx-2" style="font-size: 1.75rem;"></i>
                                }
                                else
                                {
                                    <a target = "_blank" rel = "noopener noreferrer" href = @user.LinkedInUrl>
                                        <i class="bi bi-linkedin mx-2 text-info" style="font-size: 1.75rem;"></i>
                                    </a>
                                }
                                <input asp-for="LinkedInUrl" class="form-control" type="text" placeholder="LinkedIn" value=@user.LinkedInUrl>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    // TODO: Move to shared components
    var radioButtons = document.querySelectorAll('input[type="radio"][name="YearsOfExperience"]');
    var labels = document.querySelectorAll('.btn-group label');

    console.log(labels);
    console.log(radioButtons);

    for (var i = 0; i < radioButtons.length; i++) {
        console.log("setted for " + radioButtons[i]);
        radioButtons[i].addEventListener('change', function () {
            console.log("test");
            for (var j = 0; j < labels.length; j++) {
                labels[j].classList.remove('btn-primary');
                labels[j].classList.add('btn-secondary');
            }
            var label = this.nextElementSibling;
            label.classList.remove('btn-secondary');
            label.classList.add('btn-primary');
        });
        if (radioButtons[i].checked)
        {
            var label = labels[i];
            label.classList.remove('btn-secondary');
            label.classList.add('btn-primary');
        }
    }
</script>