@using JobBoardPlatform.PL.ViewModels.Models.Admin;
@using JobBoardPlatform.PL.ViewModels.Models.Templates;
@model AdminPanelOffersViewModel

<div class="container-xl px-4 pt-4">

    <!-- Account page navigation-->
    @await Html.PartialAsync("./ProfileTabs/_ProfileTabs")

    <div class="card mb-5">
        <div class="card-header">Users</div>
        <div id="cards-container">
            @await Html.PartialAsync(CardsContainerViewModel.PartialView, Model.OffersContainer)
        </div>
    </div>

    <!--Dev env only-->
    <div class="card">
        <h4 class="card-header bg-warning text-dark">Offers utils (dev. env.)</h4>
        <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row justify-content-between m-2 mb-4 align-items-center">
                <select asp-for="@Model.CompanyIdToGenerate" class="form-select w-50 h-75" aria-label="Default select example">
                    <option value="-1" selected>For all</option>
                    @foreach (var company in Model.AllRecords)
                    {
                        <option value="@company.Id">For @company.CompanyName</option>
                    }
                </select>
                <input asp-for="@Model.CountToGenerate" class="form-control w-25 h-75" placeholder="offers count e.g. 10, 20, 50, 100" />
                <button type="button" class="btn btn-outline-success m-2" 
                onclick="location.href='@Url.Action("GenerateUsers", new { Model.CountToGenerate })'">
                    Generate new offers
                </button>
            </div>
            <button class="btn btn-outline-danger m-2" onclick="location.href='@Url.Action("DeleteAllUsers")'">
                Delete all
            </button>
        </div>
    </div>
</div>