@using System.Security.Claims;
@using JobBoardPlatform.BLL.Services.Authentification.Authorization;
@using JobBoardPlatform.PL.Controllers.Profile;
@using JobBoardPlatform.PL.Controllers.Presenters;
@using JobBoardPlatform.PL.ViewModels.Middleware.Factories.Profile;

@{
    string? userName = User.FindFirstValue(UserSessionProperties.DisplayName);
    if (string.IsNullOrEmpty(userName))
    {
        userName = "User";
    }

    string? savedImageUrl = User.FindFirstValue(UserSessionProperties.DisplayImageUrl);
    string userImageUrl = StaticFilesUtils.GetDefaultAvatarUriIfEmpty(savedImageUrl, User);

    string role = UserSessionUtils.GetRole(User);
    var factory = new ProfileTabsViewModelFactory(role);
    var viewModel = await factory.CreateAsync();
}

<li class="nav-item bg-secondary border-start border-opacity-10 border-dark dropdown px-2">
    <a class="nav-link dropdown-toggle text-dark col-sm" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="@userImageUrl" width="40" height="40" class="rounded-circle mx-2 border border-secondary" style="object-fit:contain;">
        @userName
    </a>
    <div class="dropdown-menu dropdown-menu-end mt-3">
        @for (int i = 0; i < viewModel.Labels.Length; i++)
        {
            <a class="dropdown-item" asp-controller="@viewModel.Controllers[i]" asp-action="@viewModel.Actions[i]">
                <i class="@viewModel.Icons[i] mx-2"></i>
                @viewModel.Labels[i]
            </a>
            <div class="dropdown-divider"></div>
        }
        <a class="dropdown-item" asp-controller="Home" asp-action="LogOut">
            <i class="bi bi-box-arrow-left mx-2"></i>
            Log out
        </a>
    </div>
</li>